.sd-question__content {
    display: flex;
    justify-content: center;
}

.sd-rating__item {
    flex: 1;
    text-align: center;
}

.sd-scrollable-container:not(.sd-scrollable-container--compact) {
    width: 100% !important;
    max-width: 100%;
}

.sd-body.sd-body--static {
    padding-bottom: 0px !important;
}

.sv-components-row {
    height: calc(100vh - 88px - 2px - 6*(var(--sjs-base-unit, var(--base-unit, 8px))));
    /* height: calc(100vh - 2px - 6*(var(--sjs-base-unit, var(--base-unit, 8px)))); Without title */
}

.sv-components-column {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: flex-end !important;
    flex-wrap: wrap !important;
    align-items: stretch !important;
    padding-bottom: calc((144px - 46px) / 2);
    width: 100%;
}

.sd-body.sd-body--static .sd-body__navigation.sd-action-bar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.sd-body__navigation .sd-btn {
    padding: 0px 0px !important;
    width: calc(165px * 1.2);
    height: calc(56px * 1.2);
    font-size: calc(var(--sjs-font-questiontitle-size, var(--sjs-font-size, 16px)) * 1.2) !important;
    background-color: var(--sjs-primary-backcolor, var(--primary, #19b394)) !important;
    color: var(--sjs-primary-forecolor, var(--primary-foreground, #fff)) !important;
}

.sd-body.sd-body--static {
    padding-top: 0px !important;
}

.sd-html h3 {
    margin-top: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 10px !important;
}


/* .sd-question__header--location-top {
    display: flex;
    justify-content: center;
} Centrovanie otázky - Martin */